body {
    font-family: Averta;
    margin: 0;
}

p {
    margin: 0;
}

@font-face {
   font-family: Averta;
   src: url(Averta-Regular.woff);

}

@font-face {
   font-family: Averta;
   src: url(Averta-Bold.woff);
   font-weight: bold;

}


#modal, #halfModal, #thirdModal, #forthModal {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.0);
    z-index: 9999;
}

.modal-content {
     background-color: #ffffff;
    width: 100%;
    height: 100%;
    margin: 0;
    /* padding: 20px; */
    position: absolute;
    bottom: -100%;
    transition: bottom 0.3s ease-in-out;
    z-index: 9999;
}


/* Styles for the second half-page modal */
.half-modal-content {
    background-color: #ffffff;
    top: 37vh;
    margin: 0;
    padding: 0px;
    position: relative;
    bottom: -100%;
    height: 63vh;
    transition: bottom 0.3s ease-in-out;
    box-shadow: 0px -50px 119px 67px #00000042;
    overflow: scroll;
}

.close, .close-half, .close3-half {
    position: absolute;
    top: 10px;
    left: 8px;
    font-size: 24px;
    color: #ffff0000;
    cursor: none;
    background: #ff000000;
    padding: 7px 20px;
}



#header {
     position: fixed;
}

.topbar1 {
    background: #161216;
        
}


div#event_block {
    overflow: scroll;
    padding: 0px 2%;
    padding-top: 111Px;
}


.event_pic img {
    width: 100%;
    padding-bottom: 4px;
}


div#bottommenu {
    background: #ffffff;
    width: 100%;
    height: 59px;
    position: fixed;
    bottom: 0px;
    padding-bottom: 5px;
    text-align: center;
}

div#bottommenu img {
    width: 100%;
}


/* Slider page -----------*/
/* Slider page -----------*/



ul {
  padding: 0;
}

li {
  list-style: none;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 10px;
}

}

.wrapper {
  position: relative;
}
.wrapper:before, .wrapper:after {
  position: absolute;
  top: 0;
  z-index: 1;
  content: "";
  display: block;
  width: 20px;
  height: 100%;
}
.wrapper:before {
  left: 0;
  background: linear-gradient(90deg, #2220, transparent);
}
.wrapper:after {
  right: 0;
  background: linear-gradient(-90deg, #2220, transparent);
}

.items {
  position: relative;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0;
  cursor: pointer;
}
.items.active {
  cursor: grab;
}

.item {
    display: inline-block;
    margin-left: 6px;
    user-select: none;
    /* background: tomato; */
    width: 91%;
    height: auto;
}

.item:last-child {
  margin-right: 14px;
}

.item img { width:100%;}


@media screen and (min-width: 500px) {
  .item {
    width: 33%;
  }
}
@media screen and (min-width: 800px) {
  .item {
    width: 25%;
  }
}
@media screen and (min-width: 1200px) {
  .wrapper {
    margin-left: -20px;
  }

  .item {
    width: 20%;
  }
}

/* Dott image  page 2 -----------*/
/* Dott image  page 2 -----------*/

div#header_page2 {
    background: #161216;
    padding: 2px 0px;
}



div#doota  {
     width: 100%;
    background: white;
    text-align: center;
    height: 32px;
    padding-top: 12px;
}


div#doota img {
    width: 24%;
}




/* sel button  image  page 2 -----------*/
/* map  page 2 -----------*/


div#sell-btn {
    width: 100%;
    background: white;
    text-align: center;
}


div#sell-btn img {
    width: 100%;
    background: white;
    text-align: center;
}

div#sell-btn img {
    width: 100%;
}


div#map img {
    width: 100%;
    border-radius: 18px;
}

div#map {
    padding: 15px 10px;
    width: 95%;
}





  /* Page 333 Half Page */
  /* Seat Sellect Box Css*/


.Rec_A1 {
    background: white;
    width: 100%;
    padding: 19px 0px;
    text-align: center;
    font-size: 17px;
    color: #808080;
    
}

.Rec_A2 {
    background: white;
    width: 100%;
    height: 25px;
    border: 1px solid #f0efef;
    border-left: none;
    border-right: none;
}



.Rec_A3 {
    padding: 14px 12px;
}

span.Seat_Numbr {
    font-size: 21px;
    color: #848484;
    margin-left: 8px;
}

span.tkt_icon {
    float: right;
    padding-left: 30px;
    color: #b6b6b6;
    font-size: 17px;
    display: flex;
    align-items: center;
}



img.tkt_img {
    width: 26px;
    margin-right: 3px;
}


.bar_page2 {
    width: 100%;
    height: 47px;
    background: #fafafd;
    position: fixed;
    bottom: 0;
    padding-top: 22px;
    border: 1px solid #d9d9d9;
    border-bottom: none;
    border-left: none;
    border-right: none;
}




div#Select_seat { 
    width:150px;  
    display: flex; 
    padding: 12px 0px;  }



div#Select_seat input:checked + label { color:#fff; }


div#Select_seat input {
  display:none;
}


div#Select_seat input + label span {
    content: "";
    display: inline-block;
    width: 95px;
    height: 95px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    background: url(checkbox21.png) no-repeat;
    cursor: help;
    background-size: 199px;
}

div#Select_seat input.checkbox2 + label span.checkbox2 {
    content: "";
    display: inline-block;
    width: 95px;
    height: 95px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    background: url(checkbox22.png) no-repeat;
    cursor: help;
    background-size: 199px;

}


div#Select_seat input.checkbox3 + label span.checkbox3 {
    content: "";
    display: inline-block;
    width: 95px;
    height: 95px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    background: url(checkbox23.png) no-repeat;
    cursor: help;
    background-size: 199px;

}

div#Select_seat input[type="checkbox"] + label span { background-position:left top; }


div#Select_seat input[type="checkbox"]:checked + label span { background-position:-96px top; }



.bar_page2 {
    width: 100%;
    height: 47px;
    background: #fafafd;
    position: fixed;
    bottom: 0;
    padding-top: 22px;
    border: 1px solid #d9d9d9;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

span.Selectedct {
    float: left;
    padding-left: 16px;
    color: #a4a4a4;
}

span#thirdbuton {
    float: right;
    padding-right: 14px;
    font-weight: bold;
    color: #1a89e2;
    font-size: 16px;
}



  /* Page 444444 half Page */
  /* Seat Sellect Box Css*/


.third-modal-content {

    background-color: #ffffff;
    top: 37vh;
    margin: 0;
    padding: 0px;
    position: relative;
    bottom: -100%;
    height: 63vh;
    transition: bottom 0.3s ease-in-out;
    box-shadow: 0px -50px 119px 67px #00000042;
    overflow: scroll;
}




.manual-email {
    background-image: url(manual-email.png);
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 376px;
}


span#back_btn {
    float: left;
    padding-left: 20px;
    font-weight: bold;
    color: #1a89e2;
    font-size: 16px;
    margin-top: 2px;
}


 /* Page 5555 half Page */
  /* 55555Seat Seat number*/

.forth-modal-content {

    background-color: yellow;
    top: 37vh;
    margin: 0;
    padding: 0px;
    position: relative;
    bottom: -100%;
    height: 63vh;
    transition: bottom 0.3s ease-in-out;
    box-shadow: 0px -50px 119px 67px #00000042;
    overflow: scroll;
}




.ticket-container {
    text-align: left;
    background-color: #fff;
    padding: 20px;
    
}


.ticket-container p {
    margin-bottom: 12px;
    font-size: 18px;
    color: #303030;
}


.ticket-details {
    display: flex;
    
}


.detail {
    display: flex;
    flex-direction: column;
    margin-right: 29px;
    /* background: yellow; */
    margin-bottom: 15px;
}

.label {
    color: grey;
    font-size: 17px;
    margin-bottom: 2px;
}

.value {
    font-size: 18px;
    color: grey;
    text-align: center;
}

form input {
    margin: 7px 0px 14px 0px;
    width: 333px;
    height: 43px;
    padding-left: 9px;
    border: 1px solid black;
    font-size: 13px;
}



#note  {
     height: 100px;

}


span#forthbuton {
    float: right;
    padding: 13px 10px;
    background: #0463e2;
    color: #ffffff;
    border-radius: 6px;
    font-size: 12px;
    margin-top: -7px;
    margin-right: 12px;
}


/* aaaaaanimation */ /* aaaaaanimation */
/* aaaaaanimation */ /* aaaaaanimation */


.splash {
   
    height: 100%;
    width: 100%;
    position: fixed;

    top: 0;
    z-index: 9999;
     background-color: #007bff; /* Background color of splash screen */
            animation: fadeOut 3s forwards; /* Trigger fadeout animation */
            animation-timing-function: ease;
             animation-delay: 1s;


}

.center {
    background-size: 137%;
    background-repeat: no-repeat;
    position: absolute;
    top: 0%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    line-height: 35px;
    font-size: 25px;
    background-image: url(splash.png);
     background-color: #126fdf;
    background-position: center;
    animation-name: example;
  animation-duration: 3s;
  animation-iteration-count: infinite;
      z-index: 9999;
      animation-delay: 0.5s;
      
}

 @keyframes fadeOut {
            0% {
                opacity: 1;
            }
            100% {
                opacity: 0;
                visibility: hidden;
            }
        }

@keyframes example  {
  0%    { background-size: 137%;opacity: 1}
  25%   { background-size: 160%;}
  50%   { background-size: 137%;opacity: 0}
  75%   { background-size: 160%;opacity: 0}
  100%  { background-size: 137%; visibility: hidden; opacity: 0}
 
}


